*{
    padding: 0px;
    margin: 0px;
}

.main{
    width: 50%;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.input-container {
    position: relative;
    width: 300px;
    height: auto;
    
}



/* #input2 {
    width: 100%;
    padding-right: 60px; /* Adjust to make space for the button 
    box-sizing: border-box;
    padding: 1rem 3rem;
    display: none;
}

#remove {
    position: absolute;
    right: 4px;
    top: 2px;
    height: 90%;
    width: 50px; 
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem 3rem;
    text-align: center;
    display: none;
} */
