*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(8, 8, 8);
    
}

.main{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    /* background-color: rgb(12, 12, 12); */
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(248, 242, 242);
    margin-top: 50px;

    
}

#todo-head{
    width: fit-content;
    height: auto;
    margin: 0 auto;
   font-size: 50px;
   font-weight: 900;
   border-bottom: 3px solid rgb(248, 246, 246);
   color: rgb(255, 250, 250);

}


#input-ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    
}

#input{
    width: auto;
    height: auto;
   
    padding: 0.95rem 2rem;
    background-color: rgb(237, 243, 247);
    border: none;
    color: rgb(5, 5, 5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}



#add-text{
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(245, 98, 12);
    color: rgb(5, 5, 5);
    font-weight: 700;
    color: white;
    border: none;
   

}

.todo-list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
   
    
}


.remove{
    padding:0.5rem 2rem ;
    background-color: rgb(250, 11, 11);
    color:aliceblue;
    border-radius: 10px;
    text-align: center;
    outline: none;
    outline: none;
    
    


}

.li{
     
     background-color: rgb(255, 253, 253); 
    width: auto;
    font-style: italic;
    color: rgb(122, 73, 9);
    color: rgb(0, 0, 0);
    gap:140px;
    display: flex;
    margin-bottom: 10px;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid red;
    padding: 10px;
    border-radius: 20px;
    font-weight: 900;
}


@media only screen and (max-width: 900px){
    .main{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;


    }

    #add-text{
        width: auto;
        height: auto;
    }
    #input{
        
        width: auto;
        height: auto;
    }
}